{% extends "layouts/base.twig" %}

{% block title %}Terminos y Condiciones{% endblock %}



{% block content %}
   <!-- Términos y Condiciones -->
    <div class="container mt-5">
        <h1 class="text-center">Términos y Condiciones</h1>
        <p>
            Estos términos y condiciones rigen el uso de nuestro sitio web. Al acceder o utilizar el sitio, usted acepta cumplir con estos términos y condiciones.
        </p>

        <h3>1. Uso del Sitio</h3>
        <p>
            Este sitio es proporcionado para su uso personal y no comercial. No puede modificar, copiar, distribuir, transmitir, exhibir, realizar, reproducir, publicar, licenciar, crear trabajos derivados, transferir ni vender ninguna información, software, productos o servicios obtenidos de este sitio.
        </p>

        <h3>2. Privacidad</h3>
        <p>
            Nos comprometemos a proteger su privacidad. Por favor, lea nuestra política de privacidad para entender cómo manejamos su información.
        </p>

        <h3>3. Cambios en los Términos</h3>
        <p>
            Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Se recomienda que revise esta página periódicamente.
        </p>

        <!-- Botones de Aceptar y Rechazar -->
        <!--div class="d-flex justify-content-center mt-4">
            <button class="btn btn-gradient me-2">Aceptar</button>
            <button class="btn btn-gradient">Rechazar</button>
        </div-->
    </div>

   
{% endblock %}

